<div id="mainBox">
    <div class="projects"  routerLink="/aoe">
        <h1 class="title"> Age of empire II</h1>
        <h3 class="sub_title"> Code the game myself from zero</h3>
        <img src="../../../assets/helmet.svg" class="logo" height="70%">
    </div>
    <div class="projects" routerLink="/crazyflie">
        <h1 class="title"> Crazyflie</h1>
        <h3 class="sub_title"> Drone project from : Polytechnique Montreal</h3>
        <img src="../../../assets/drone.png" class="logo" height="70%">
    </div>
   

</div>
