<div class="containerr">
    <!-- <section id="section1">
    <h1 id="mainTitle"> Age of Empires II remake</h1>
    <img src="../../../assets/helmet.svg" class="logo" height="15%">
    
        <h2>Histoire: </h2>
        <p>Age of Empires est une série de jeux de stratégie en temps réel développés
             par Ensemble Studios et publiés par Microsoft Studios. Le premier titre
              de la série — Age of Empires — est un jeu de stratégie en temps réel publié en 1997.
               S'inspirant de Civilization et de Warcraft II, le jeu se déroule dans un contexte 
               historique sur une période comprise entre 5000 av. J.-C. et 800 apr. J.-C. au cours 
               de laquelle le joueur doit faire évoluer une civilisation antique de l’âge de la pierre
                à l’âge du fer pour débloquer de nouvelles technologies et unités lui permettant de bâtir
                 un empire. </p>

        <h2>Objectif du projet : </h2>
            L'objectif de ce projet et de reconstruire le jeux de mon enfance que je jouais 
            avec mon pere et mon frere.
    </section> -->

    <section>
        <canvas class="overlay" id="myMapCanvas" #myMapCanvas></canvas>

    </section>
</div>
