canvas {
  //border: gray solid 3px;
  margin: auto;
}

#mainAppAlgo {
  //border: red solid 1px;
  display: flex;
  width: 80%;
  height: 100%;
}

#data {
  //border: red solid 1px;
  display: flex;
  width: 20%;
  height: 100%;
}

#app{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
