<div class="containerr">
    <section id="s1">

        <div class="mainBox">
            <h1 class="title"> Présentation</h1>
            <div class="sousSection">

                <div class="box">
                    <img id="photoProfil" src="../../../assets/Noe.jpg">
                </div>
                <div class="box">
                    <p class="lead">
                        Bonjour,
                        Je m’appelle Noe et je suis présentement à polytechnique Montreal en génie informatique.
                        J’entame ma
                        dernière année avant ma graduation en tant qu’ingénieur. J’ai toujours était passionné par
                        l’informatique et
                        mon cursus universitaire m’a permis de développer cette passion et d’acquérir de nombreuse
                        compétences.
                    </p>
                    <p>
                        Mon site web a pour objectif de vous parler de mes compétences et aptitudes. Il fait office de
                        curriculum
                        Vitae. Je présente également les projets sur lesquels j'ai travaillés et les différents stages
                        que
                        j'ai
                        effectués

                    </p>
                </div>
            </div>
        </div>

    </section>

    <section id="s2">
        <div class="mainBox" id="mainBox2">
            <h1>Mes compétences</h1>
            <div class="sousSection">
                <div class="box">
                    <div class="skill-bars">
                        <div class="bar">
                            <div class="info">
                                <span>HTML</span>
                            </div>
                            <div class="progress-line html">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>CSS</span>
                            </div>
                            <div class="progress-line css">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>TypeScript</span>
                            </div>
                            <div class="progress-line typeScript">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>Python</span>
                            </div>
                            <div class="progress-line python">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>MySQL</span>
                            </div>
                            <div class="progress-line mysql">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>C/C++</span>
                            </div>
                            <div class="progress-line c">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>Java</span>
                            </div>
                            <div class="progress-line java">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="skill-bars">
                        <div class="skill-bars2">
                            <div class="skill">
                                <img class="logo" src="../../../assets/angular.png">
                                <p>Angular</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/node.png">
                                <p>NodeJs</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/react.png">
                                <p>React</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/postgre.png">
                                <p>Postgre</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/firebase.png">
                                <p>FireBase</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/flask.png">
                                <p>Flask</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/Qt.png">
                                <p>Qt</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/sfml.png">
                                <p>SFML</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/pygame.jpg">
                                <p>Pygame</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>

    <section id="s3">
        <div class="mainBox" id="mainBox3">
            <h1>Projets realisés </h1>
            <div class="projects">
                <div class="project">
                    <h2 class="subTitle">Application de dessin</h2>
                    <p>Le projet consiste à créer une application Web de dessin vectoriel. L’application souhaitée devra
                        être relativement simple d’utilisation. On ne souhaite pas un équivalent d’Adobe Illustrator,
                        mais
                        plutôt de quoi de semblable à Sketchpad (sketch.io). Le texte dans l'application, que ce soit
                        pour les
                        éléments d'interface, les messages ou bien le guide d'utilisation, devra être écrit en français.
                    </p>
                    <button class="plusBtn">En savoir plus</button>
                </div>
                <div class="project">
                    <h2 class="subTitle">Conception d’un système aérien d’exploration</h2>
                    <p>L’objectif de ce projet est d'implémenter une application web qui permet de
                        contrôler des drones qui vont explorer un environnement inconnu et générer une
                        carte à partir des données recueillies par ces derniers. Ces résultats doivent être
                        rapportés sur une interface utilisateur web. Le projet doit pouvoir être lancé dans
                        un environnement simulé ou physique.
                    </p>
                    <button class="plusBtn">En savoir plus</button>
                </div>
                <div class="project">
                    <h2 class="subTitle">Application de dessin</h2>
                    <p>Le projet consiste à créer une application Web de dessin vectoriel. L’application souhaitée devra
                        être
                        relativement simple d’utilisation. On ne souhaite pas un équivalent d’Adobe Illustrator, mais
                        plutôt de
                        quoi de semblable à Sketchpad (sketch.io). Le texte dans l'application, que ce soit pour les
                        éléments
                        d'interface, les messages ou bien le guide d'utilisation, devra être écrit en français.
                    </p>
                    <button class="plusBtn">En savoir plus</button>
                </div>

            </div>
        </div>
    </section>

</div>