<div class="mainContainer"></div>
<article class="frontContainer">
  <section id="introMainBox">
    <div id="introTextBox">
      <h1>Bonjour !</h1>
      <h1>Moi c'est Noé</h1>
      <p>
        Je viens de finir mon baccalauréat en génie informatique à l'université
        polytechnique de Montréal. Bienvenue sur mon portfolio.
      </p>
    </div>
    <div id="introImageBox">
      <img src="../../../assets/student.png" width="100%" />
    </div>
  </section>
  <section id="competenceMainBox">
    <h1 id="titleCompetence">Compétences</h1>
    <div id="competenceSubBox">
      <div id="competenceImageBox">
        <img src="../../../assets/dev.png" width="100%" />
      </div>
      <div id="competenceTextBox">
        <p class="competenceSection" id="firstComp">
          Je m'intéresse à la conception et à l'implantation de systèmes
          constitués de matériel et de logiciels ayant pour fonction de capter,
          stocker et traiter l'information.
        </p>
        <p class="competenceSection" id="secondComp">
          J'ai de très bonnes compétences en C/C++, Python, JavaScript et
          Typescript. Je suis également capable de gérer des bases de données SQL
          ou noSQL.
        </p>
        <p class="competenceSection" id="thirdComp">
          Je m'adapte très vite à mon environnement et je sais comment chercher
          de l'information de façon autonome.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div id="titleExperienceBox">
      <h1>Expérience</h1>
      <h2>J'aime m'investir dans des projets</h2>
    </div>
    <div id="listProjects"></div>
  </section>
</article>
