<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="containerr">
    <section id="s1">

        <div class="mainBox">
            <h1 class="title">Éducation</h1>
            <div class="sousSection-H">

                <div class="box-H">
                    <div class="polyLogo">
                        <img src="../../../assets/poly.png" width="140px" height="140px">
                    </div>
                    <div class="boxEducation">
                        <h2>Baccalauréat en génie informatique à polytechnique Montréal</h2>
                        <p>2018 - 2022</p>
                    </div>
                </div>
                <div class="box-H">
                    <div class="polyLogo">
                        <img src="../../../assets/poly.png" width="140px" height="140px">
                    </div>
                    <div class="boxEducation">
                        <h2>Année préparatoire en génie à polytechnique Montréal</h2>
                        <p>2017 - 2018</p>
                    </div>
                </div>

                <div class="box-H">
                    <div class="polyLogo">
                        <img src="../../../assets/cimf.png" width="140px" height="140px">
                    </div>
                    <div class="boxEducation">
                        <h2>Baccalauréat section scientifique au collège international Marie de France (CIMF)</h2>
                        <p>2016 - 2017</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="s2">
        <div class="mainBox" id="mainBox2">
            <h1 class="title">Compétences</h1>
            <div class="sousSection">
                <div class="box">
                    <div class="skill-bars">
                        <h2>Coding skills</h2>
                        <div class="bar">
                            <div class="info">
                                <span>TypeScript</span>
                            </div>
                            <div class="progress-line typeScript">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>Python</span>
                            </div>
                            <div class="progress-line python">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>MySQL</span>
                            </div>
                            <div class="progress-line mysql">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>C/C++</span>
                            </div>
                            <div class="progress-line c">
                                <span></span>
                            </div>
                        </div>
                        <div class="bar">
                            <div class="info">
                                <span>Java</span>
                            </div>
                            <div class="progress-line java">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="skill-bars">
                        <h2>Tools</h2>
                        <div class="skill-bars2">
                            <div class="skill">
                                <img class="logo" src="../../../assets/angular.png">
                                <p>Angular</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/node.png">
                                <p>NodeJs</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/react.png">
                                <p>React</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/postgre.png">
                                <p>Postgre</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/firebase.png">
                                <p>FireBase</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/flask.png">
                                <p>Flask</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/Qt.png">
                                <p>Qt</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/sfml.png">
                                <p>SFML</p>
                            </div>
                            <div class="skill">
                                <img class="logo" src="../../../assets/pygame.jpg">
                                <p>Pygame</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>

    <section id="s3">
        <div class="mainBox">
        <h1 class="title">Expériences </h1>
        <div class="sousSection-H">
            <div class="box-H">
                <div class="polyLogo">
                    <img src="../../../assets/CDA.png" width="140px" height="140px">
                </div>
                <div class="boxEducation">
                    <h2>Chabeau Délrieux Associés (CDa) : Etiqueteuse automatique</h2>
                    <p>Operateur machine</p>
                    <p>2016 - 2017</p>
                </div>
            </div>
            <div class="box-H">
                <div class="polyLogo">
                    <img src="../../../assets/ceisce.png" width="140px" height="140px">
                </div>
                <div class="boxEducation">
                    <h2>Groupe de recherche sur les seismes de polytechnique Montréal</h2>
                    <p>Assistant de recherche</p>
                    <p>Mai 2021 - Septembre 2021</p>
                </div>
            </div>

            <div class="box-H">
                <div class="boxEducation">
                    <h2>A venir</h2>
                    <p>2022 - 202?</p>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section id="s3">
        <div class="mainBox">
        <h1 class="title">Contact </h1>
            <div class="sousSection2-1">
                <img src="../../../assets/user.png">
                <div class="constactDescription">
                    <h1>Noe Berguin</h1>
                    <p><i class='bx bxs-phone' ></i> 450-626-0455</p>
                    <p><i class='bx bx-mail-send' ></i> berguin.noe@gmail.com </p>
                </div>
            </div>
            <div class="sousSection2-2">
                <div class="sousSection-H2">
                    <div class="constactBox">
                        <a class="mediaImg" href="https://www.instagram.com/noeberguin/?hl=fr">
                            <img src="../../../assets/insta.png" width="140px" height="140px" alt="">
                        </a>
                    </div>
                    <div class="constactBox">
                        <a class="mediaImg" href="https://www.facebook.com/noe.berguin/">
                            <img src="../../../assets/facebook.png" width="140px" height="140px" alt="">
                        </a>
                    </div>
                </div>
                <div class="sousSection-H2">
                    <div class="constactBox">
                        <a class="mediaImg" href="https://www.linkedin.com/in/no%C3%A9-berguin-3095b619b/">
                            <img src="../../../assets/linkedin.png" width="140px" height="140px" alt="">
                        </a>
                    </div>
                    <div class="constactBox">
                        <a class="mediaImg" href="https://gitlab.com/Noe99">
                            <img src="../../../assets/gitlab.png" width="140px" height="140px" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>