.containerr {
  //border: red solid 1px;
  width: 100%;
  height: 100vh;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  //border: red solid 1px;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.title{
  display: flex;
  height: 10%;
  font-size: 4rem;
  //border: rgb(0, 255, 42) solid 1px;
  align-items: center;
  flex-direction: row;
  font-family: Helvetica;
  font-size: 4rem;
}

.boxEducation h2{
  font-size: 1.5rem;
}

.h2-link{
  font-size: 1.5rem;
  margin-right: auto;
}

.sousSection {
  display: flex;
  //border: rgb(204, 0, 255) solid 1px;
  width: 100%;
  //margin: auto;
  //margin-top: 2.5%;
  flex-direction: row;
  height: 80%;
}

.sousSection2 {
  display: flex;
  //border: rgb(219, 92, 41) solid 1px;
  width: 100%;
  //margin: auto;
  //margin-top: 2.5%;
  flex-direction: row;
  height: 100%;
}

.sousSection2-2 {
  display: flex;
  //border: rgb(219, 92, 41) solid 1px;
  width: 100%;
  //margin: auto;
  //margin-top: 2.5%;
  flex-direction: row;
  height: 60%;
}

.sousSection2-1 {
  display: flex;
  //border: rgb(219, 92, 41) solid 1px;
  width: 40%;
  //margin: auto;
  //margin-top: 2.5%;
  flex-direction: row;
  height: 30%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.constactDescription{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: left;
  align-items: center;
 // border: rgb(219, 92, 41) solid 1px;
  justify-content: center;
}

.sousSection-H {
  display: flex;
  //border: rgb(204, 0, 255) solid 1px;
  width: 100%;
  height: 80%;
  flex-direction: column;
}

.sousSection-H2 {
  display: flex;
  //border: rgb(204, 0, 255) solid 1px;
  width: 48%;
  height: 100%;
  margin:auto;
  flex-direction: column;
  
}

.constactBox{
  display: flex;
  //border: rgb(51, 142, 158) solid 1px;
  width: 100%;
  height: 48%;
  margin:auto;
  flex-direction: row;
  align-items: center;
}

.mediaImg{
  margin: auto;
  //border: rgb(39, 52, 54) solid 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.mainBox {
  display: flex;
  //border: red solid 1px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
}

#s1 {
  background: url("../../../assets/ink.jpg");
}

#s2 {
  background: url("../../../assets/section2.jpg");
}

.box {
  display: flex;
  //border: blue solid 1px;
  width: 45%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: rgb(0, 0, 0);
}

.box-H {
  display: flex;
  //border: blue solid 1px;
  width: 90%;
  height: 25%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}


.polyLogo {
  display: flex;
  //border: blue solid 1px;
  width: 30%;
  height: 100%;
  padding: 3%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  color: rgb(0, 0, 0);
}

.boxEducation{
  display: flex;
  //border: rgb(23, 212, 108) solid 1px;
  width: 70%;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: rgb(0, 0, 0);
}

p {
  text-align: justify;
  font: 18px sans-serif;
  line-height: 150%;
}

#photoProfil {
  margin: auto;
  border-radius: 1%;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  width: 80%;
  margin: auto;
  margin-top: 2.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
::selection {
  color: #fff;
  background: #b4b4b4;
}
.skill-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 30px;
  width: 100%;
  height: 100%;
  margin: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  //border: red solid 1px;
}

.skill-bars h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 2rem;
}


.skill-bars .bar {
  margin: 20px 0;
  width: 100%;
  height: 10%;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #838383;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 80%;
}
.bar .progress-line.css span {
  width: 50%;
}
.bar .progress-line.typeScript span {
  width: 95%;
}
.bar .progress-line.python span {
  width: 85%;
}
.bar .progress-line.mysql span {
  width: 75%;
}

.bar .progress-line.java span {
  width: 75%;
}

.bar .progress-line.c span {
  width: 95%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "50%";
}
.progress-line.typeScript span::after {
  content: "95%";
}
.progress-line.python span::after {
  content: "85%";
}
.progress-line.mysql span::after {
  content: "75%";
}
.progress-line.java span::after {
  content: "75%";
}
.progress-line.c span::after {
  content: "95%";
}

.example-margin {
  margin: 0 10px;
}

#mainBox2 {
  background: rgba(255, 255, 255, 0.8);
}
.logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  //border: rgb(100, 100, 100) solid 3px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: blue solid 1px;
  padding: 3%;
}

.skill-bars2 {
  padding: 25px 30px;
  width: 100%;
  height: 100%;
  margin: auto;
  //border: red solid 1px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

#s3 {
  //
}

#mainBox3 {
  color: #fff;
  //border: red solid 1px;
  width: 100%;
}

.projects {
  //border: rgb(247, 0, 255) solid 1px;
  display: flex;
  width: 95%;
  height: 95%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.subTitle {
  //border: red solid 1px;
  color: rgb(100, 100, 100);
  text-align: center;
  font-size: xx-large;
}

.plusBtn {
  //border: blue solid 1px;
  background-color: rgba(255, 255, 255, 1);
  //border: rgb(100, 100, 100) solid 3px;
  color: #000;
  margin: auto;
  text-align: center;
  align-items: center;
  padding: 4%;
}

a{
  color: #000;
  text-decoration: none;
}
