#myCanvasSpace {
  //border: solid 1px rgb(55, 58, 245);
}
.contain {
  position: relative;
  width: 100%;
  //border: solid 1px rgb(238, 106, 106);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
