#container {
  overflow: auto;
  //border: 1px solid;
}
canvas {
  display: block;
  //border: red 1px solid;
}

canvas {
  //border: red 3px solid;
}

.flexBox {
  display: flex;
  flex-direction: row;
}
